/*id error ketika login atau register*/
#error{
	background-color: var(--danger);
	color: var(--white);
	padding: 6px;
	display: inline-block;
	border-radius:5px 5px 5px 5px;
}
#success{
	background-color: var(--success);
	color: var(--white);
	padding: 6px;
	display: inline-block;
	border-radius:5px 5px 5px 5px;
}
#info{
	background-color: var(--info);
	color: var(--dark);
	padding: 6px;
	display: inline-block;
	border-radius:5px 5px 5px 5px;
}
#warning{
	background-color: var(--warning);
	color: var(--white);
	padding: 6px;
	display: inline-block;
	border-radius:5px 5px 5px 5px;
}